@import '../../mq';

@media #{$tabletLandscape} {
  @import '../desktop';


  #nav-icon {
    display: none;
  }

  #menu,
  .menu#menu {
    display: block !important;
    text-align: right;
    position: static;
    transform: none;
    background: transparent;
    border-radius: 0;
    transition: 0;
    max-width: 560px;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 40px 0 0;
      border: 0;

      a {

        &:not(.pricing-btn) {
          padding-left: 0;
          padding-right: 0;
        }

        &:before {
          content: "";
          width: 100%;
          height: 4px;
          background: #0085E1;
          transition: .3s;
          position: absolute;
          top: inherit;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        &.pricing-btn {
          color: #FFF !important;
          padding: 8px 18px;
          background: linear-gradient(0deg, #FF6067, #FF6067), linear-gradient(0deg, rgba(255, 75, 17, .3), rgba(255, 75, 17, .3)), linear-gradient(0deg, #FB4A94 0, #FF6565 100%);
          border-radius: 3px;

          &:before {
            display: none;
          }

          &:hover {
            background: linear-gradient(0deg, #FF4F57, #FF4F57), linear-gradient(0deg, rgba(255, 75, 17, .3), rgba(255, 75, 17, .3)), linear-gradient(0deg, #FB4A94 0, #FF6565 100%);
          }
        }
      }
    }
  }

  #menu,
  .nav.fixed #menu {
    background: transparent;
  }


  #menu .expand__item,
  .menu#menu .expand__item {
    width: auto;
  }

  #menu,
  .menu#menu {
    margin-left: auto;
  }

  #menu li .header__item,
  #menu li a,
  .menu#menu li .header__item,
  .menu#menu li a {
  }

  .fixed {

    #menu li .header__item,
    #menu li a,
    .menu#menu li .header__item,
    .menu#menu li a {
    }
  }

  .nav .expand__content {
    min-height: 365px;
    min-height: 310px;
  }

  .container {
    max-width: 100%;
  }
  
    .xs-first {
    -ms-flex-order: inherit;
    order: inherit;
}
  
  .head {
    padding-top: 195px;
  }
  .head-list {
    margin-top: 45px;
    &:before {
      top: 0;
      min-height: inherit;
    }
  }
  main {
    overflow: inherit;
  }
}