@import '../../mq';

@media #{$tabletPortrait} {
    @import '../mobile';
  	& {
      .container {
        max-width: 560px;
      }
      .head-list {
        max-width: 590px;
        margin-left: auto;
      }
	}
}
