@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}

body {
  @import 'MediaQueries/main';
  overflow-x: hidden;


  &:not(.home1) {
    .nav {
      background: #fff;

      /* #nav-icon span {
        background: #19153E;
      }*/
      &.fixed {
        box-shadow: 0 4px 15px rgba(100, 103, 130, .15);
      }

      .fill-color {
        fill: #19153E;
      }

      .menu {
        li {
          a {
            color: #19153E;

            &.pricing-btn {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.noScroll {
  overflow-y: hidden;
  /*height: 100vh;*/
}

.nav {
  .container {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .3s;
  padding: 48px 0 20px;
//  background: #003177;
  z-index: 99;

  .expand__item {
    .expand__icon {
      margin-left: 5px;
      transition: 0.4s;
      fill: #19153E !important;
    }

    &:hover .expand__icon {
      transform: scale(-1, -1);
    }
  }

  &.fixed {
    padding: 5px 0;
    padding: 9px 0 6px;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);

    .fill-color {
      fill: #19153E;
    }

    .expand__item {
      .expand__icon {
        fill: #19153E !important;
      }
    }

    .logo {
      margin-top: 0;
    }

    .menu li a,
    .menu li .header__item {
      color: #19153E;

      &:before {
        bottom: -8px;
      }

      &.pricing-btn {
        color: #fff;
      }
    }
  }

}


.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  z-index: 99;

  &#menu {
    //      margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    width: 55%;
    max-width: 560px;
  }

  li {
    display: inline-block;
    //    margin-right: 40px;
    vertical-align: middle;

    &:first-child {
      //      margin-right: 60px;
    }

    &:last-child {
      margin-right: 0;
    }

    a,
    .header__item {
      display: block;
      font-family: Helvetica Now Display;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: #19153E;
      transition: .3s;
      position: relative;
      padding-bottom: 8px;
      padding-top: 8px;
      cursor: pointer;

      &:before {
        content: "";
        width: 100%;
        height: 4px;
        background: #0085E1;
        transition: .3s;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        opacity: 0;
      }

      &:hover,
      &.active {
        &:before {
          opacity: 1;
        }
      }

      &.pricing-btn {
        font-family: Helvetica Now Display;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        padding: 10px 20px;
        background: linear-gradient(0deg, #FF6067, #FF6067), linear-gradient(0deg, rgba(255, 75, 17, 0.3), rgba(255, 75, 17, 0.3)), linear-gradient(0deg, #FB4A94 0%, #FF6565 100%);
        border-radius: 3px;
        transition: .3s;

        &:hover {
          background: linear-gradient(0deg, #FF4F57, #FF4F57), linear-gradient(0deg, rgba(255, 75, 17, .3), rgba(255, 75, 17, .3)), linear-gradient(0deg, #FB4A94 0, #FF6565 100%);
        }



        &:before {
          display: none;
        }
      }

    }
  }

  .expand__content {
    display: none;
  }
}

.expand__content {
  color: #19153E;
  padding: 10px 30px;
  border-top: 1px solid rgba(80, 88, 118, 0.1);

  &--item {
    padding: 10px 0;

    h1 {
      font-weight: normal;
      font-size: 20px;
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;
      margin-bottom: 0;
      line-height: normal;
    }
  }

  &--link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    img {
      display: block;
      width: 40%;
            max-width: 238px;
      max-height: 151px;
       background: #093373;
          border-radius: 3px;
    }

    h4 {
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 0;
    }

    p {
      font-size: 12px;
    }
  }
}


@media (min-width: 992px) {
  .nav {
    .header__item {
      font-size: 18px;

      &:before {
        display: none;
      }
    }

    .expand__item {
      padding-left: 25px;
      padding-right: 25px;
      margin: -10px -25px -5px;
      transition: all 0.4s;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 5px 25px 0;

      &:hover {
        background-color: #f4f4f4;

        .expand__content {
          visibility: visible;
          opacity: 1;
        }

        .header__item {
          color: #19153E;
        }

        .expand__icon {
          fill: #19153E !important;
        }
      }
    }

    .expand__content {
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      max-width: 1440px;
      right: 0;
      padding: 16px 7px;
      border-radius: 5px;
      border: none;
      background-color: #f4f4f4;
      box-shadow: 0 10px 15px -3px rgba(70, 79, 93, 0.35);
      z-index: 100;
      transition: all 0.4s;

      &--wrap {
        display: flex;
        align-items: center;
      }

      &--item {
        flex: 1;
        padding: 0 7px;

        .note {
          padding-left: 40px;
          padding-right: 20px;
        }

        h1 {
          font-size: 35px;
          font-weight: 900;
          margin-bottom: 15px;
        }

        h4 {
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          margin: 0;
        }

        p {
          font-size: 16px;
          margin: 0;
        }
      }

      &--link {
        display: block;
        padding: 0;
        color: #19153E;
        text-align: left;
        transition: none;

        &:before {
          display: none;
        }

        img {
          width: 100%;
          max-width: 238px;
          min-width: 220px;
          max-height: 151px;
          margin-bottom: 20px;
          transition: all 0.5s;
        }

        &:hover {
          color: #0097E2;

          p {
            color: #0097E2;
          }

          img {
            transform: scale(1.05);
          }
        }

        p {
          font-size: 16px;
          color: #505876;
        }
      }
    }

    .expand__item:hover {
      background-color: #FFFFFF;
    }

    .expand__content {
      background-color: #FFFFFF;
    }
  }

  .nav.fixed {
    .expand__item:hover {
      background-color: #f4f4f4;
    }

    .expand__content {
      background-color: #f4f4f4;
    }
  }
}

@media (max-width: 992px) {
  .nav .expand__item {
    .expand__content {
      display: none;
      padding-top: 0;
    }

    .header__item:before {
      background-color: #FFFFFF;
    }

    .expand__icon {
      transform: none !important;
    }

    &.active {
      .header__item:before {
        background-color: #0085E1;
      }

      .expand__content {
        display: block;
      }

      .expand__icon {
        transform: scale(-1, -1) !important;
      }
    }

    .expand__content--link {
      display: flex !important;
      max-height: unset !important;
      padding: 0 !important;

      &:before {
        display: none;
      }
    }
  }
}




.footer_new {
  padding: 54px 0;
  background: linear-gradient(0deg, #003177, #003177), linear-gradient(180deg, #273953 0%, #151D29 100%);

  .container {
    max-width: 100%;
    max-width: 1920px;
    padding-left: 100px;
    padding-right: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .logo {
    display: inline-block;
    margin-top: 10px;

    svg,
    img {
      width: 202px;
      height: inherit;
    }
  }
}

.footer_new-logo {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.footer_new-menu {
  position: relative;
  z-index: 3;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
      font-family: Helvetica Now Display;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
    }
  }
}

.footer_new-copy {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  font-family: Helvetica Now Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 31px;
  /* or  */
  position: relative;
  z-index: 0;

  margin-top: -73px;
  color: rgba(255, 255, 255, 0.4);


}

.footer_new-item_menu {
  -ms-flex: 0 0 13.333333%;
  flex: 0 0 13.333333%;
  max-width: 13.333333%;
}

.footer_new-resourses {
  -ms-flex: 0 0 35.333%;
  flex: 0 0 35.333%;
  max-width: 35.333%;
  display: flex;
  min-height: 188px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 3;

  .item {
    padding: 0 35px;
    -ms-flex: 0 0 56%;
    flex: 0 0 56%;
    max-width: 56%;

    &:first-child {
      padding-left: 4.861111111111112vw;
      -ms-flex: 0 0 44%;
      flex: 0 0 44%;
      max-width: 44%;
    }

    &:last-child {
      padding-right: 4.861111111111112vw;

    }
  }

  .title {
    font-family: Helvetica Now Display;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.02em;

    margin-bottom: 22px;

    color: rgba(255, 255, 255, 0.3);

  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: block;
        font-family: Helvetica Now Display;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.02em;

        color: #FFFFFF;
      }
    }
  }
}

.footer_new-politic {
  padding-left: 4.861111111111112vw;
  padding-top: 5px;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  max-width: 18%;
  position: relative;
  z-index: 3;

  //      text-align: right;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    //      display: inline-block;
    //      text-align: left;
    li {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
        margin-top: 68px;

        a {
          display: inline-block;
          margin-right: 14px;
        }
      }

      a {
        display: block;
        font-family: Helvetica Now Display;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.02em;

        color: #FFFFFF;
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .footer_new .logo {
    margin-top: 0;
  }

  .footer_new {
    padding: 40px 0;

    .container {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 480px;
    }
  }

  .footer_new-logo,
  .footer_new-copy {
    -ms-flex: 0 0 calc(100% - 70px);
    flex: 0 0 calc(100% - 70px);
    max-width: calc(100% - 70px);
    padding: 0px;
    margin-left: 35px;
    margin-right: 35px;
  }

  /* .footer_new-item_menu,
  .footer_new-politic {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }*/

  .footer_new-politic {
    -ms-flex-order: 3;
    order: 3;
    padding-left: 15px;
    -ms-flex: 0 0 56%;
    flex: 0 0 56%;
    max-width: 56%;
  }

  .footer_new-item_menu {
    -ms-flex-order: 2;
    order: 2;
    -ms-flex: 0 0 44%;
    flex: 0 0 44%;
    max-width: 44%;
    padding-left: 40px;
  }

  .footer_new-copy {
    margin-top: 0;
    //    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 0px;
    margin-top: 0px;
    -ms-flex-order: 5;
    order: 5;
    text-align: center;

    br {
      display: none;
    }
  }

  .footer_new-logo {
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
    margin-bottom: 41px;
  }


  .footer_new-resourses {
    -ms-flex-order: 4;
    order: 4;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 35px;
    margin-right: 35px;
    -ms-flex: 0 0 calc(100% - 70px);
    flex: 0 0 calc(100% - 70px);
    max-width: calc(100% - 70px);
    margin-top: 30px;
    margin-bottom: 30px;

    .item {
      &:first-child {
        padding-left: 5px;
        padding-right: 5px;
      }

      &:last-child {
        padding-right: 5px;
        padding-left: 15px;
      }
    }

  }
}



.pricing {
  background: url('../images/bg.webp') no-repeat center;
  background-size: cover;
  padding: 130px 0 20px;
  text-align: center;

  .h2-title {
    font-family: Helvetica Now Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125.2%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 20px;
    
  }
  p {
    font-family: Helvetica Now Display;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  .order-btn {
    max-width: 270px;
    font-family: Helvetica Now Display;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    background: linear-gradient(0deg, #FF6067, #FF6067), linear-gradient(0deg, rgba(255, 75, 17, 0.3), rgba(255, 75, 17, 0.3)), linear-gradient(0deg, #FB4A94 0%, #FF6565 100%);
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    transition: .3s;
    &:hover {
      opacity: .9;
    }
  }
}



.appeal-list {
  list-style: none;
  padding: 0;
  margin: 124px auto 0;
  max-width: 730px;
  display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
  li {
        display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Helvetica Now Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    svg {
      margin-right: 10px;
    }

  }
}


.article {
  padding: 50px 0;
  background: url('../images/bg.svg') no-repeat center 55px;
  background-size: 100%;
  &:last-child {
    padding-bottom: 200px;
  }
  .col-lg-8 {
    padding-bottom: 50px;
    padding-top: 70px;
  }
  .h2-title {
    max-width: 314px;
        position: sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: -webkit-sticky;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    top: 85px;
  }
  .col-lg-4, .col-lg-6 {
    .article-img {
      img {
        filter: none;
        box-shadow: 0 0;
        
      }
    }
  }
}

.h2-title {
  font-family: Helvetica Now Display;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;
  color: #19153E;
  span {
    color: #FF6067;
  }
}

.article-item {
  max-width: 747px;
  margin-left: auto;
  margin-top: 80px;
  cursor: pointer;
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: 0 -25px;
    li {
      width: 50%;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #505876;
      position: relative;
      margin-bottom: 10px;
      padding: 0 25px;
      padding-left: 43px;
      &::before {
        content: "";
        width: 5px;
        height: 5px;
        background: #505876;
        border-radius: 0;
        position: absolute;
        top: 9px;
        left: 25px;
      }
    }
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #19153E;
    margin-bottom: 30px;
  }
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #505876;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.article-img {
  img {
    width: 100%;
    filter: drop-shadow(0px 4px 22px rgba(36, 51, 80, 0.15));
    transition: .2s;
  }
  margin-bottom: 30px;
}

.head {
  padding-top: 195px;
  padding-bottom: 90px;
  .container {
    max-width: 1310px;
  }
}

.article-last {
  padding-bottom: 130px;
}

.head-list {
  list-style: none;
  padding: 35px 70px 45px;
  margin: 0;
  position: relative;
  margin-top: 110px;
  &:before {
    content: "";
    width: 1142px;
    height: 100%;
    min-height: 330px;
    background: #0097E2;
    position: absolute;
    top: 0;
    left: 0;
  }
  li {
    margin-bottom: 10px;
    text-align: left;
    position: relative;
    z-index: 9;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-family: Helvetica Now Display;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 115%;
        color: #FFFFFF;

    }
  }
}

.head-item {
  position: relative;
  background: #FF6067;
  box-shadow: 18.0793px 15.3674px 12.6555px rgba(0, 0, 0, 0.05);
  border-radius: 1.80793px;
  padding: 40px 70px 70px;
  max-width: 630px;
  margin-left: auto;
  width: 100%;
  text-align: left;
  
  h1 {
    font-family: Helvetica Now Display;
    font-style: normal;
    font-weight: bold;
    font-size: 79px;
    line-height: 110%;
    color: #FDFEFE;
    margin-bottom: 35px;
  }
  .rating {
    margin-bottom: 6px;
  }
}

.rating-item {
  font-family: Helvetica Now Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  display: flex;
  align-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
  .title {
    margin-right: 22px;
  }

  .svg {margin-right: 10px;}
}

.head-btn {
  font-family: Helvetica Now Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(0deg, #142948, #142948), linear-gradient(0deg, rgba(255, 75, 17, 0.3), rgba(255, 75, 17, 0.3)), linear-gradient(0deg, #FB4A94 0%, #FF6565 100%);
  border-radius: 3.61587px;
  display: inline-block;
  padding: 15px 24px;
  cursor: pointer;
  
  &:hover {
    color: #FFFFFF;
        background: #003466;
  }
}
