& {

  header,
  main,
  footer {
    overflow: hidden;
  }

  #nav-icon {
    float: right;
    margin-top: 5px;
  }

  .mobile-vis {
    display: block;
  }

  .logo {
    display: inline-block;

    svg,
    img {
      width: 160px;
    }
  }

  .nav {
    padding-top: 48px;

    .container {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
  }

  img {
    max-width: 100%;
    width: 100%;
  }


  .nav {
    transition: 0s;
  }

  .nav.open,
  .nav.fixed.open {
    margin: 0 15px;
    width: calc(100% - 31px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: 15px;
    padding-top: 25px;
    background: #fff;
    padding-bottom: 25px;

    .fill-color {
      fill: #19153E;
    }

    .expand__item {
      .expand__icon {
        fill: #19153E !important;
      }
    }

    .logo {
      /*padding-left: 19px;*/
    }
  }

  .nav.fixed {
    padding: 11px 0 10px;

    /*    #nav-icon {
      span {
        background: #19153E;
      }
    }*/

    .logo {
      margin-top: 7px;
    }

    #menu {
      background: #fff;

      li {
        a {
          color: #19153E;

          &.pricing-btn {
            //            color: #fff;
          }
        }
      }
    }
  }

  #menu,
  .menu#menu {
    display: none;
    width: calc(100% + 80px);
    margin-left: -40px;
    margin-right: -40px;
    z-index: 99999;
    background: #fff;
    border-radius: 0 0 4px 4px;
    max-width: inherit;

    /*    max-height: calc(100vh - 55px);
    overflow-y: auto;*/
    li {
      margin: 0;
      text-align: left;
      display: block;
      padding: 0;

      a,
      .header__item {
        padding: 20px 35px;
        color: #19153E;
        max-height: 60px;

        &:before {
          width: 7px;
          height: calc(100% + 2px);
          left: 0;
          top: -1px;
          transform: none;
        }

        &.pricing-btn {
          padding: 20px 35px;
          color: #19153E;
          background: 0 0;
          font-weight: normal;

          &:before {
            display: block;
          }
        }
      }

      border-bottom: 1px solid rgba(80, 88, 118, .1);

      &:last-child {
        border: 0;
      }
    }

    .expand__item {
      width: 100%;

      .header__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &.home {
    #menu {
      //      background: #003177;
    }
  }



  .blur {
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }

  .expand__content--link p {
    padding-right: 5px;
  }

  .menu {
    //        overflow-y: auto;
    //    max-height: 90vh;
  }



  .pricing {
    padding: 47px 0 23px;

    .h2-title {
      max-width: 100%;
      font-size: 36px;
      line-height: 125.2%;
      /* or 45px */
      margin-bottom: 15px;

    }

    p {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 40px;
    }
  }

  .appeal-list {
    text-align: center;
    display: block;
    margin-top: 30px;

    li {
      margin-bottom: 11px;
    }
  }


  .h2-title {
    font-size: 40px;
    line-height: 46px;
    //    margin-bottom: 54px;
  }

  .article {
    background-size: 1140px;
    background-position: 0% 0px;

    .col-lg-8 {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .article-item {
    margin-top: 54px;

    .title {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 21px;
    }

    ul {
      li {
        width: 100%;
      }
    }
  }

  .article-last {
    padding-bottom: 100px;
  }

  .article-launch {
    background: 0 0;
    position: relative;

    &:before {
      content: "";
      background: url(../images/bg.svg) 0 0 no-repeat;
      background-size: 100%;
      width: 1440px;
      height: 606px;
      position: absolute;
      top: -180px;
      left: -92px;
      z-index: 0;

    }

    .container {
      position: relative;
      z-index: 2;
    }
  }

  .xs-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .head {
    padding-top: 115px;
    padding-bottom: 50px;
    overflow: hidden;

    &-item {
      padding: 18px 40px 31px;

      h1 {
        font-size: 50px;
        margin-bottom: 30px;
      }
    }

    .rating-item {
      flex-wrap: wrap;

      .title {
        margin-bottom: 15px;
      }
    }

    &-list {
      margin: 0;
      margin-left: 40px;
      padding-left: 60px;
      padding-right: 60px;

      &:before {
        top: -65px;
      }

      li {
        a {
          font-size: 36px;
          line-height: 115%;
          /* or 41px */
        }
      }
    }

  }
}
