
.container-head {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.dashboards-img {
  max-width: 900px;
  margin-left: -315px;
}

.page-template-dashboards-tmpl {
  .container {
    max-width: 1240px;
  }
}

.img-mw-935 {
  max-width: 935px;
}

.img-mw-1630 {
  max-width: 1630px;
}

.image-scroll {
  max-width: 100%;
}

.mw-475 { 
  max-width: 475px;
}
