
.nav {
  .container {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .3s;
  padding: 48px 0 20px;
//  background: #003177;
  z-index: 99;

  .expand__item {
    .expand__icon {
      margin-left: 5px;
      transition: 0.4s;
      fill: #19153E !important;
    }

    &:hover .expand__icon {
      transform: scale(-1, -1);
    }
  }

  &.fixed {
    padding: 5px 0;
    padding: 9px 0 6px;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);

    .fill-color {
      fill: #19153E;
    }

    .expand__item {
      .expand__icon {
        fill: #19153E !important;
      }
    }

    .logo {
      margin-top: 0;
    }

    .menu li a,
    .menu li .header__item {
      color: #19153E;

      &:before {
        bottom: -8px;
      }

      &.pricing-btn {
        color: #fff;
      }
    }
  }

}


.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  z-index: 99;

  &#menu {
    //      margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    width: 55%;
    max-width: 560px;
  }

  li {
    display: inline-block;
    //    margin-right: 40px;
    vertical-align: middle;

    &:first-child {
      //      margin-right: 60px;
    }

    &:last-child {
      margin-right: 0;
    }

    a,
    .header__item {
      display: block;
      font-family: Helvetica Now Display;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: #19153E;
      transition: .3s;
      position: relative;
      padding-bottom: 8px;
      padding-top: 8px;
      cursor: pointer;

      &:before {
        content: "";
        width: 100%;
        height: 4px;
        background: #0085E1;
        transition: .3s;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        opacity: 0;
      }

      &:hover,
      &.active {
        &:before {
          opacity: 1;
        }
      }

      &.pricing-btn {
        font-family: Helvetica Now Display;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        padding: 10px 20px;
        background: linear-gradient(0deg, #FF6067, #FF6067), linear-gradient(0deg, rgba(255, 75, 17, 0.3), rgba(255, 75, 17, 0.3)), linear-gradient(0deg, #FB4A94 0%, #FF6565 100%);
        border-radius: 3px;
        transition: .3s;

        &:hover {
          background: linear-gradient(0deg, #FF4F57, #FF4F57), linear-gradient(0deg, rgba(255, 75, 17, .3), rgba(255, 75, 17, .3)), linear-gradient(0deg, #FB4A94 0, #FF6565 100%);
        }



        &:before {
          display: none;
        }
      }

    }
  }

  .expand__content {
    display: none;
  }
}

.expand__content {
  color: #19153E;
  padding: 10px 30px;
  border-top: 1px solid rgba(80, 88, 118, 0.1);

  &--item {
    padding: 10px 0;

    h1 {
      font-weight: normal;
      font-size: 20px;
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;
      margin-bottom: 0;
      line-height: normal;
    }
  }

  &--link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    img {
      display: block;
      width: 40%;
            max-width: 238px;
      max-height: 151px;
       background: #093373;
          border-radius: 3px;
    }

    h4 {
      font-weight: normal;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 0;
    }

    p {
      font-size: 12px;
    }
  }
}


@media (min-width: 992px) {
  .nav {
    .header__item {
      font-size: 18px;

      &:before {
        display: none;
      }
    }

    .expand__item {
      padding-left: 25px;
      padding-right: 25px;
      margin: -10px -25px -5px;
      transition: all 0.4s;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 5px 25px 0;

      &:hover {
        background-color: #f4f4f4;

        .expand__content {
          visibility: visible;
          opacity: 1;
        }

        .header__item {
          color: #19153E;
        }

        .expand__icon {
          fill: #19153E !important;
        }
      }
    }

    .expand__content {
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      max-width: 1440px;
      right: 0;
      padding: 16px 7px;
      border-radius: 5px;
      border: none;
      background-color: #f4f4f4;
      box-shadow: 0 10px 15px -3px rgba(70, 79, 93, 0.35);
      z-index: 100;
      transition: all 0.4s;

      &--wrap {
        display: flex;
        align-items: center;
      }

      &--item {
        flex: 1;
        padding: 0 7px;

        .note {
          padding-left: 40px;
          padding-right: 20px;
        }

        h1 {
          font-size: 35px;
          font-weight: 900;
          margin-bottom: 15px;
        }

        h4 {
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          margin: 0;
        }

        p {
          font-size: 16px;
          margin: 0;
        }
      }

      &--link {
        display: block;
        padding: 0;
        color: #19153E;
        text-align: left;
        transition: none;

        &:before {
          display: none;
        }

        img {
          width: 100%;
          max-width: 238px;
          min-width: 220px;
          max-height: 151px;
          margin-bottom: 20px;
          transition: all 0.5s;
        }

        &:hover {
          color: #0097E2;

          p {
            color: #0097E2;
          }

          img {
            transform: scale(1.05);
          }
        }

        p {
          font-size: 16px;
          color: #505876;
        }
      }
    }

    .expand__item:hover {
      background-color: #FFFFFF;
    }

    .expand__content {
      background-color: #FFFFFF;
    }
  }

  .nav.fixed {
    .expand__item:hover {
      background-color: #f4f4f4;
    }

    .expand__content {
      background-color: #f4f4f4;
    }
  }
}

@media (max-width: 992px) {
  .nav .expand__item {
    .expand__content {
      display: none;
      padding-top: 0;
    }

    .header__item:before {
      background-color: #FFFFFF;
    }

    .expand__icon {
      transform: none !important;
    }

    &.active {
      .header__item:before {
        background-color: #0085E1;
      }

      .expand__content {
        display: block;
      }

      .expand__icon {
        transform: scale(-1, -1) !important;
      }
    }

    .expand__content--link {
      display: flex !important;
      max-height: unset !important;
      padding: 0 !important;

      &:before {
        display: none;
      }
    }
  }
}


